body{
    border: 0;
    margin: 0;
    background: hsl(60, 8%, 83%);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

header {
    border:0;
    background-color: #444;
    padding: 20px;
    text-align: center;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

#app{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background: #f23557;
    color: #f0d43a;
    align-items: flex-start;
    padding-top: 70px;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    min-height: 500px;
}

button{
    padding: 10px;
    margin: 25px 55px;
    border-radius: 10px;
}
