body{
    border: 0;
    margin: 0;
    background: #444;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

header {
    border:0;
    background-color: #444;
    padding: 20px;
    text-align: center;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

#main-content {
    display: grid;
    grid-template-rows: repeat(3,0.1fr);
    justify-items: center;

    background: #f23557;
    color: #f0d43a;
    padding-top: 70px;
    grid-gap: 2em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    min-height: 500px;
}

button{
    padding: 10px;
    margin: 0px 85px;
    border-radius: 10px;
}


footer {
    margin-left:3rem;
    color: whitesmoke;
}
